body {
  padding: 0 5%;
  margin: 0;
  /* background-color: black; #262626; */
}

#header {
  padding: 10px 20px;
  color: white;
  background-color: #262626;
  font-family: Kanit,Helvetica,Arial,sans-serif;
}

#header a {
  color: white;
}


body,
html {
  height: 100%;
  background-color: black
}

#map {
  height: 80%;
  background-color: black
}

/* from leaflet docs */
.legend {
  color: #555;
  padding: 6px 8px;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.legend ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  clear: both;
}
.legend li {
  display: inline-block;
  width: 40px;
  height: 16px;
  font: 10px Kanit,Helvetica,Arial,sans-serif;
  font-weight: bold;
  text-align: center;
}
.legend h1 {
  font: 16px Kanit,Helvetica,Arial,sans-serif;
  font-weight: bold;
  text-align: center;
}